.mt-16 {
    margin-top: 16px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-16 {
    margin-bottom: 16px;
}

.ml-16 {
    margin-left: 16px;
}

.mr-16 {
    margin-right: 16px;
}

.font-bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex-col {
    flex-direction: column;
}

.justify-end {
    justify-content: end;
}

.align-center {
    align-items: center;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.grid {
    display: grid;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.w-40p {
    width: 40%;
}

.w-50p {
    width: 50%;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.text-primary {
    color: var(--primary);
}

.text-red-500 {
    color: #ef4444;
}

.text-green-300 {
    color: #4ade80;
}

.muted {
    color: var(--text-muted);
}

label {
    color: var(--text-body);
    font-weight: 500;
    margin-bottom: 4px;
}